body {
    background-color: lightgray;
    margin: auto;
    width: 60%;
    font-family: 'Roboto Mono', monospace;
}

#edit-movie {
    margin-top: 10px;
}

.mainTitle {
    text-align: center;
}

#btn-add-movie {
    width: auto;
    margin-left: 16px;
}

#btn-edit-movie {
    width: auto;
    margin-left: 16px;
}

.moviesTable {
    margin-bottom: 0px;
}

.table-btn {
    margin-right: auto;
    width: 100px;
}

.row {
    margin-right: -17px;
    margin-left: -17px;
}
